%h1.page-title Editing poll

.container
  .row
    .col-md-6
      .create-poll
      = render 'form'
    .col-md-6
      = link_to 'Add Question', new_question_path(:poll_id => @poll.id)

= link_to 'Preview', @poll
\|
= link_to 'Back', polls_path
